  .img2{
    height: 60%;
    width:60%;
  }
  .contenedor{
    margin-top: 2%;
    margin-left:2%;
    width: 20%;
    height: 30%;
    display: inline-block;
  }
  .doc{
    margin-top: 2%;
    width: 90%;
    height: 80%;
  }
  .padre {
    text-align: center;
  }
  .hijo {
    width: 150px;
    height: 200px;
    text-align: center;
    display: inline-block;
  }
  