
.titulo{
  text-align:center; 
  margin-top: 2%;
}
.not{
  margin-top: 2%;
  width: 90%;
  height: 80%;
}
.padre {
  text-align: center;
}
img{
  height: 60%;
  width:100%;
}
.bajo {
  width: 150px;
  height: 200px;
  text-align: center;
  display: inline-block;
}