<head>
    <link rel="stylesheet" href="css/documento.css" >
    <div id ="head"></div>
    </head>
<body   style="overflow-y:scroll;background-color:white">
    <div  class="titulo"><h1>Documentos</h1></div>    
    <div id ="doc" class="doc"> 
    </div>
</body>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script>
    var perfil=localStorage["perfil"]; 
    perfil=JSON.parse(perfil);
    $("#head").load("head.html");
    $.ajax({
        url:"Controllers/index.php",
        method:"POST",
        data:{"fun":3,"id":perfil.id},
        success:function(doc){
            console.log(doc);
            doc = JSON.parse(doc);
            console.log(doc);
            var text="<div class='padre'>";    
            for(var i =0; i<doc.length;i++){
                text=text+ '<div class="hijo"><img onclick="red(\''+doc[i].nombre+'\')" src="img/'+doc[i].tipoDoc.nombre+'.png" class="img2"/><br><span onclick="red(\''+doc[i].nombre+'\')">'+doc[i].nombre+'</span><br><span>'+doc[i].fecha+'</span></div>'; 
            }
            text=text+"</div>"
            $("#doc").html(text);     
        }
    });
    function red(url){
        window.open("download.php?file="+url);
    }
</script>