<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/perfil.css" >
    <script src="lib/sweetalert.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
    <div id ="head" ></div>
</head>
<body style="background-color:white; ">
    <div style="overflow-y:scroll;height: 80%;">
        <form action="" class="formulario" >             
            <center><h1> Subir documentos</h1></center>
            <br>  <br>
                <input type="file" name="foto" id ="foto" style="border-radius:10px" accept="image/png, .jpeg, .jpg, image/gif">
            <br><br>
            <select id="us"  class="formulario__select">
            </select>
            
            <label for="bday">Fecha:</label>
            <input type="date" id="fecha" class="formulario__input" placeholder="" > 
            <input type="button" value="Enviar" class="formulario__submit" onclick="guardar()" style="border-radius:  10px;background-color: #e80b09;" >
        </form>
    </div>
</div>
</body>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script>
    var perfil=localStorage["perfil"]; 
    perfil=JSON.parse(perfil);
    $("#head").load("head.html");
    $.ajax({
        url: 'Controllers/index.php?fun=0',
        type: 'get',
        success: function(user){
            console.log(user);
            user=JSON.parse(user);
            var text;
            for (var i=0;i<user.length;i++){
                text=text+"<option class='formulario__input' value="+user[i].id+">"+user[i].rut+"</option>";
            }
            $("#us").html(text);
        }
    });
     function guardar(){
        var formData = new FormData();
        var files = $('#foto')[0].files[0];
        if ($("#usuario").val()!="" && files !=undefined){
            console.log(files);
            formData.append('file',files);
            $.ajax({
                url: 'upload.php',
                type: 'post',
                data: formData,
                contentType: false,
                processData: false,
                success: function(response) {
                    console.log(response)
                    if (response != 0) {
                       var type= files.type.split("/");
                       switch(type[1]){
                           case "pdf":
                            var tipo=2;
                            break;
                            case "xlsx":case "xls": case "vnd.ms-excel":
                            var tipo=1;
                            break;
                            case "docx": case "doc":
                            var tipo=3;
                            break;
                       }
                      console.log(JSON.parse(JSON.stringify({"receptor": parseInt($("#us").val()),"nombre":files.name,"idTipoDoc":tipo,"fecha":$("#fecha").val(),"idPerfil":parseInt(perfil.id) })));

                      $.ajax({
                        url: 'Controllers/index.php?fun=4',
                        type: 'post',
                        data: JSON.stringify({"receptor": parseInt($("#us").val()),"nombre":files.name,"idTipoDoc":tipo,"fecha":$("#fecha").val(),"idPerfil":parseInt(perfil.id) }),
                        success:function (up){
                            Swal.fire({
                                    title: 'Listo!',
                                    text: 'Docuemnto guardado correctamente',
                                    icon: 'success',
                                }).then((result) => {
                                    window.location.reload();
                                });
                            console.log(up);
                        }
                      })
                    } else {
                        alert('Formato de imagen incorrecto.');
                    }
                }
            });
        }else {
            Swal.fire({
                                    title: 'Error!',
                                    text: 'No ha cargado ningun documento',
                                    icon: 'error',
                                }).then((result) => {
                                    window.location.reload();
                                });
        }
     }
</script>