<link rel="stylesheet" href="css/index.css" >
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>

    <div class="menu_bar">
        <a href="#" class="bt-menu"><span class="fa fa-bars"></span>Menu</a>
    </div>

    <nav>
        <ul>
            <li><a href="index.html"><span class="fa fa-home"></span><br><span>Intranet</span></a></li>
            <li><a href="Perfil.html"><span class="fa fa-user"></span><br><span>Perfil</span></a></li>
            <li><a href="Perfilad.html"><span class="fa fa-user"></span><br><span>Crear Perfil</span></a></li>
			<li><a href="noticia.html"><span class="fa fa-file-text-o"></span><br><span>Noticias</span></a></li>
            <li><a href="noticiaad.html"><span class="fa fa-newspaper-o" ></span><br><span>Subir Noticia</span></a></li>
            <li><a href="documentos.html"><span class="fa fa-file-word-o"></span><br><span>Documentos</span></a></li>
            <li><a href="documentoad.html"><span class="fa fa-file-word-o"></span><br><span>Subir Documentos</span></a></li>
        </ul>
    </nav>
</header>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<script>
$(document).ready(main);
var contador = 1;

function main(){
	$('.menu_bar').click(function(){
		// $('nav').toggle(); 

		if(contador == 1){
			$('nav').animate({
				left: '0'
			});
			contador = 0;
		} else {
			contador = 1;
			$('nav').animate({
				left: '-100%'
			});
		}

	});

};
</script>
