<head>
    <div id ="head"></div>
</head>
<body style="background-color:white">
    <center>
    <div style="overflow-y:scroll;height: 85%;width:85%;text-align: center;">
        <br>
    <br>
        <h1 id ="titulo"></h1>
    <br>
    <br>
        <span id ="lead"></span>
    <br>
    <br>
        <div id ="cuerpo"></div>
        <br>
    <br> 
    <div id ="autor"></div>
  
        <img style="width:50%" id ="foto"/>
    </div>
</center>
</body>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script>
     $("#head").load("head.html");
    var perfil=localStorage["perfil"]; 
    perfil=JSON.parse(perfil);
    var noticias=localStorage["noticia"];
    var cuerpo=localStorage["cuerpo"];
    noticias= JSON.parse(noticias);
    $("#titulo").html(noticias.titulo);
    $("#lead").html(noticias.lead);
    $("#autor").html("autor : "+noticias.autor);
    $("#foto").attr("src","img/noticia/"+noticias.imagen);
    $("#cuerpo").html(cuerpo);

</script>

            