<head>
<div id ="head"></div>
</head>
<body style="background-color:white">
    <div style="overflow-y:scroll;height: 90%;">
    <center><h1 class="titulo" >Noticias</h1></center>
    <br><br>
    <div id ="noticia" class="not">
    </div>
</div>
</body>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script>
        var perfil=localStorage["perfil"]; 
    perfil=JSON.parse(perfil);
    var not="";
    $.ajax({
        url:"Controllers/index.php?fun=1",
        method:"GET",
        success:function(noticias){
            noticias=JSON.parse(noticias);
            console.log(noticias);

            not=noticias;
            var text="<div class='padre'>";
            for(var i =0; i<noticias.length;i++){
                text=text+"<div class='bajo'><span onclick='red(\""+noticias[i].id+"\")' class='tit'>"+ noticias[i].titulo+"</span><br><span class='lead' onclick='red(\""+noticias[i].id+"\")'>"+noticias[i].lead+"</span><br><img onclick='red(\""+noticias[i].id+"\")' src=img/noticia/"+noticias[i].imagen+" class='img'><br><span>"+noticias[i].fecha+"</span></div>";
            }
            text=text+"</div>";
            $("#noticia").html(text);
        }
    });
    $("#head").load("head.html");

    function red(url){
        for(var i=0; i<not.length; i++){
            if (not[i].id== url){
                var cuerpo=not[i].cuerpo.replace("/rn/","<p>");
                localStorage["cuerpo"]=not[i].cuerpo;  
                localStorage["noticia"]='{"titulo":"'+not[i].titulo+'","lead":"'+not[i].lead+'","imagen":"'+not[i].imagen+'","fecha":"'+not[i].fecha+'","autor":"'+not[i].autor+'"}';  
                console.log(localStorage["noticia"]);            
            }     
        }
        
        window.location.href="idnoticia.html"
    }
</script>