<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/perfil.css" >
    <script src="lib/sweetalert.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
    <div id ="head" ></div>
</head>
<body style="background-color:white; ">
    <center><h1 class="titulo" >Agregar Noticia Bavaria</h1></center>
    <div style="overflow-y:scroll;height: 80%;">
        <form action="" class="formulario" >             
            <span> Suba una imagen para la noticia:</span>
            <br>  <br>
            <input type="file" name="foto" id ="foto" style="border-radius:10px" accept="image/png, .jpeg, .jpg, image/gif">
          <br>
        <br>
            <input type="text" id="titulo"  class="formulario__input" Placeholder="Titulo" >
            <input type="text" id="lead" class="formulario__input" Placeholder="Lead" >
            <textarea  id="cuerpo" class="formulario__input" Placeholder="Cuerpo" ></textarea>
            <input type="text" id="autor" class="formulario__input" placeholder="Autor" >
            <label for="bday">Fecha:</label>
            <input type="date" id="fecha" class="formulario__input" placeholder="" > 
            <input type="button" value="Enviar" class="formulario__submit" onclick="guardar()" style="border-radius:  10px;background-color: #e80b09;" >
        </form>
    </div>
</div>
</body>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script>
    var perfil=localStorage["perfil"]; 
    perfil=JSON.parse(perfil);
     $("#head").load("head.html");

     function guardar(){
        if ($("#titulo").val()!="" && $("#lead").val()!="" && $("#cuerpo").val() && $("#autor").val() !="" && $("#fecha").val()!=""){
            var formData = new FormData();
            var files = $('#foto')[0].files[0];
            console.log(files);
            formData.append('file',files);
            if (files!=undefined){
                $.ajax({
                    url: 'upload.php',
                    type: 'post',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        console.log(response)
                        if (response != 0) {
                        $.ajax({
                            url: 'Controllers/index.php?fun=3',
                            type: 'post',
                            data: JSON.stringify({"titulo":$("#titulo").val(),"lead":$("#lead").val(),"cuerpo":$("#cuerpo").val(),"autor": $("#autor").val(),"fecha":$("#fecha").val(), "idPerfil":perfil.id, "imagen":files.name}),
                            success:function (up){
                                console.log(up);
                                Swal.fire({
                                    title: 'Listo!',
                                    text: 'Noticia guardada correctamente',
                                    icon: 'success',
                                }).then((result) => {
                                    window.location.reload();
                                });
                            }
                        })
                        } else {
                            alert('Formato de imagen incorrecto.');
                        }
                    }
                });
            }else{
                $.ajax({
                            url: 'Controllers/index.php?fun=3',
                            type: 'post',
                            data: JSON.stringify({"titulo":$("#titulo").val(),"lead":$("#lead").val(),"cuerpo":$("#cuerpo").val(),"autor": $("#autor").val(),"fecha":$("#fecha").val(), "idPerfil":perfil.id, "imagen":"sin foto"}),
                            success:function (up){
                                console.log(up);
                                Swal.fire({
                                    title: 'Listo!',
                                    text: 'Noticia guardada correctamente',
                                    icon: 'success',
                                }).then((result) => {
                                    window.location.reload();
                                });
                            }
                        })
            }
        }
     }
</script>