<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/perfil.css" >
    <div id ="head"></div>
    </head>
    <body style="background-color:white; " >
    <div style="overflow-y:scroll;height: 90%;">
        <form action="" class="formulario" > 
            <center><img src="img/logo.png" id="foto" style ="width:100px;height: 20%; border-radius: 50%;border:solid"></center>
            <br>
            <input type="text" id="rut"  class="formulario__input" Placeholder="RUN" disabled>
            <input type="text" id="nombre" class="formulario__input" Placeholder="Nombres" disabled>
            <input type="text" id="apellido" class="formulario__input" Placeholder="Apellidos" disabled>
            <input type="text" id="empresa" class="formulario__input" placeholder="Empresa" disabled>
            <input type="text" id="cargo" class="formulario__input" placeholder="Cargo"disabled>
            <input type="text" id="correo" class="formulario__input" placeholder="Correo Institucional"disabled >
            <label for="bday">Cumpleaños:</label>
            <input type="date" id="cumpleaños" class="formulario__input" placeholder="" disabled> 
            <input type="submit" class="formulario__submit" style="border-radius:  10px;background-color: #e80b09;" disabled>
        </form>
    </div>
</div>
    </body>
</head>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<script>
    var perfil=localStorage["perfil"]; 
    perfil=JSON.parse(perfil);
     $("#head").load("head.html");
     $.ajax({
        url:"Controllers/index.php",
        type:"POST",
        data:{"fun":2,"id":perfil.id},
        success:function (data){
            console.log(data);
            data=JSON.parse(data);
            console.log(data);
            $("#rut").val(data.rut);
            $("#nombre").val(data.nombre);
            $("#apellido").val(data.apellido);
            $("#empresa").val(data.empresa.nombre);
            $("#cargo").val(data.cargo);
            $("#correo").val(data.correo);
            $("#cumpleaños").val(data.fechaCum);
            $("#foto").attr("src","img/"+data.foto);
        },
     })
   
</script>