<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/perfil.css" >
    <script src="lib/sweetalert.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
    <div id ="head"></div>
    </head>
    <body style="background-color:white; " >
    <div style="overflow-y:scroll;height: 90%;">
        <form action="" class="formulario" > 
            <span> Suba una imagen para la noticia:</span>
            <br>  <br>
            <input type="file" name="foto" id ="foto" style="border-radius:10px" accept="image/png, .jpeg, .jpg, image/gif">
            <br><br>
            <input type="text" id="rut"  class="formulario__input" Placeholder="RUN" >
            <input type="text" id="nombre" class="formulario__input" Placeholder="Nombres" >
            <input type="text" id="apellido" class="formulario__input" Placeholder="Apellidos" >
            <select id="empresa" class="formulario__select" ></select>
            <input type="text" id="cargo" class="formulario__input" placeholder="Cargo">
            <input type="text" id="correo" class="formulario__input" placeholder="Correo Institucional" >
            <input type="text" id="usuario" class="formulario__input" placeholder="Nombre de Usuario" >
            <input type="text" id="clave" class="formulario__input" placeholder="Clave" >
            <input type="text" id="claverep" class="formulario__input" placeholder="Repetir clave" >
            <select id="rol" class="formulario__select" >
                <option value=1>Administrador</option>
                <option value=2>Usuario</option>
            </select>
            <label for="bday">Cumpleaños:</label>
            <input type="date" id="cumpleaños" class="formulario__input" placeholder="" > 
            <label for="bday">Ingreso a la empresa:</label>
            <input type="date" id="ingreso" class="formulario__input" placeholder="" > 
            <input type="button" class="formulario__submit" onclick ="ini()"value="Enviar" style="border-radius:  10px;background-color: #e80b09;" >
        </form>
    </div>
</div>
    </body>
</head>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<script>
    var perfil=localStorage["perfil"]; 
    perfil=JSON.parse(perfil);
    $("#head").load("head.html");
    $.ajax({
        url:"Controllers/index.php?fun=6",
        type: "get",
        success: function(empresa){
            console.log(empresa);
            empresa=JSON.parse(empresa);
            var text=""; 
            for(var i=0;i<empresa.length;i++){
                text+="<option value='"+empresa[i].id+"'>"+empresa[i].nombre+"</option>"
            }
            $("#empresa").html(text);
        }
    })
    function ini(){
        if($("#clave").val()==$("#claverep").val()){
            if ($("#rut").val() !="" && $("#nombre").val()!="" &&$("#apellido").val()!=""&&$("#empresa").val()!=""&&$("#cargo").val()!=""&&$("#correo").val()!=""&& $("#cumpleaños").val()!="" && $("#ingreso").val()!=""){
                var log = JSON.stringify({"usuario":$("#usuario").val(),"clave":$("#clave").val(),"idRol":$("#rol").val()})
                var formData = new FormData();
                var files = $('#foto')[0].files[0];
                console.log(files);
                formData.append('file',files);      
                if (files!=undefined){
                    $.ajax({
                        url:"Controllers/index.php?fun=7",
                        type:"POST",
                        data:log,
                        success:function (login){
                            console.log(login)
                            if (login!=""){
                                var dat=JSON.stringify({"rut":$("#rut").val(), "nombre" :$("#nombre").val(), "apellido":$("#apellido").val(),"empresa":$("#empresa").val(),"cargo":$("#cargo").val(),"correo":$("#correo").val(),"fechaCum": $("#cumpleaños").val(),"fechaIngreso":$("#ingreso").val(),"idLog":login, "foto_perfil":files.name});
                                $.ajax({
                                    url:"Controllers/home.php?fun=0",
                                    type:"POST",
                                    data:dat,
                                    success:function (data){
                                        var formData = new FormData();
                                        var files = $('#foto')[0].files[0];
                                        console.log(files);
                                        formData.append('file',files);      
                                        $.ajax({
                                            url: 'upload2.php',
                                            type: 'post',
                                            data: formData,
                                            contentType: false,
                                            processData: false,
                                            success: function(response) {
                                                Swal.fire({
                                                    title: 'Listo!',
                                                    text: 'Usuario cargado correctamente',
                                                    icon: 'success',
                                                }).then(function (){
                                                    window.location.reload();
                                                }) ; 
                                            }
                                        });
                                    }
                                });
                            }else{
                                Swal.fire({
                                    title: 'Error!',
                                    text: 'usuario ya existe',
                                    icon: 'error',
                                }); 
                            }
                        }
                    });
                }else{
                    Swal.fire({
                        title: 'Error!',
                        text: 'Debe subir una foto',
                        icon: 'error',
                    });
                }
            }else{
                Swal.fire({
                    title: 'Error!',
                    text: 'Hay datos en blanco',
                    icon: 'error',
                });
            }
        }else{
            Swal.fire({
                title: 'Error!',
                text: 'Las Claves no cinciden',
                icon: 'error',
            })
        }
    }
</script>